<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNetCore.Authentication.Abstractions" version="2.2.0" />
  <package id="Microsoft.AspNetCore.Authorization" version="2.2.0" />
  <package id="Microsoft.AspNetCore.Authorization.Policy" version="2.2.0" />
  <package id="Microsoft.AspNetCore.Connections.Abstractions" version="8.0.0" />
  <package id="Microsoft.AspNetCore.Hosting.Abstractions" version="2.2.0" />
  <package id="Microsoft.AspNetCore.Hosting.Server.Abstractions" version="2.2.0" />
  <package id="Microsoft.AspNetCore.Http" version="2.2.0" />
  <package id="Microsoft.AspNetCore.Http.Abstractions" version="2.2.0" />
  <package id="Microsoft.AspNetCore.Http.Connections" version="1.1.0" />
  <package id="Microsoft.AspNetCore.Http.Connections.Client" version="8.0.0" />
  <package id="Microsoft.AspNetCore.Http.Connections.Common" version="8.0.0" />
  <package id="Microsoft.AspNetCore.Http.Extensions" version="2.2.0" />
  <package id="Microsoft.AspNetCore.Http.Features" version="2.2.0" />
  <package id="Microsoft.AspNetCore.Routing" version="2.2.0" />
  <package id="Microsoft.AspNetCore.Routing.Abstractions" version="2.2.0" />
  <package id="Microsoft.AspNetCore.SignalR" version="1.1.0" manuallyInstalled="true" />
  <package id="Microsoft.AspNetCore.SignalR.Client" version="8.0.0" manuallyInstalled="true" />
  <package id="Microsoft.AspNetCore.SignalR.Client.Core" version="8.0.0" />
  <package id="Microsoft.AspNetCore.SignalR.Common" version="8.0.0" />
  <package id="Microsoft.AspNetCore.SignalR.Core" version="1.1.0" />
  <package id="Microsoft.AspNetCore.SignalR.Protocols.Json" version="8.0.0" />
  <package id="Microsoft.AspNetCore.WebSockets" version="2.2.1" />
  <package id="Microsoft.AspNetCore.WebUtilities" version="8.0.0" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" />
  <package id="Microsoft.Bcl.TimeProvider" version="8.0.0" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="8.0.0" />
  <package id="Microsoft.Extensions.DependencyInjection" version="8.0.0" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="8.0.0" />
  <package id="Microsoft.Extensions.Diagnostics.Abstractions" version="8.0.0" />
  <package id="Microsoft.Extensions.Features" version="8.0.0" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="8.0.0" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="8.0.0" />
  <package id="Microsoft.Extensions.Logging" version="8.0.0" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="8.0.0" />
  <package id="Microsoft.Extensions.ObjectPool" version="8.0.0" />
  <package id="Microsoft.Extensions.Options" version="8.0.0" />
  <package id="Microsoft.Extensions.Primitives" version="8.0.0" />
  <package id="Microsoft.Net.Http.Headers" version="8.0.0" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.0" />
  <package id="System.IO.Pipelines" version="8.0.0" />
  <package id="System.Net.WebSockets.WebSocketProtocol" version="5.0.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Security.Principal.Windows" version="5.0.0" />
  <package id="System.Text.Encodings.Web" version="8.0.0" />
  <package id="System.Text.Json" version="8.0.0" />
  <package id="System.Threading.Channels" version="8.0.0" />
</packages>